<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %}{% endblock %} - anzl</title>
        <link rel="stylesheet" href="/static/style/normalize.css">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
