{% extends "base.html" %} 

{% block title %}Neuen Nutzer erstellen{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li class="flash">{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form method="post">
    <label>
        <p>Nutzername:</p>
        <input type="text" placeholder="Nutername" name="username" required/>
    </label>
    <label>
        <p>Name:</p>
        <input type="text" placeholder="Vorname" name="fname" required autocomplete="given-name"/>
        <input type="text" placeholder="Name" name="lname" required autocomplete="family-name"/>
    </label>
    <label>
        <p>Passwort:</p>
        <input type="password" placeholder="Passwort" name="password" required/>
    </label>
    <p><input type="submit" value="Erstellen" /></p>
</form>
{% endblock %}
