{% extends "base.html" %} 

{% block title %}Secure{% endblock %}

{% block content %}
<p>Type: {{session.get("type")}}</p>
<form method="post" action="/logout">
    <input type="submit" value="Logout">
</form>
{% endblock %}
